<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!---->
<suite name="AutomationExercises" parallel="tests" thread-count="4">
    <listeners>
        <listener class-name="utils.RetryListener"/>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="SanityAndRegression">
        <groups>
            <run>
                <include name="regression"/>
                <include name="sanity"/>
             <exclude name="skipped"/>
            </run>
        </groups>
        <classes>
            <class name="tests.e2e.PurchaseProductTest"/>
            <class name="tests.integration.LoginTest"/>
            <class name="tests.integration.AddProductToCartTest"/>
            <class name="tests.integration.DeleteAllProductsTest"/>
            <class name="tests.integration.RegisterNewUserTest"/>
            <class name="tests.sanity.SanityTest"/>
            <class name="utils.setup.BaseTest"/>
        </classes>
    </test>
    <test name="CrossBrowserChrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.integration.LoginTest"/>
        </classes>
    </test>
    <test name="CrossBrowserEdge">
    <parameter name="browser" value="edge"/>
    <classes>
    <class name="tests.integration.LoginTest"/>
</classes>
</test>
    <test name="githubApiPositive">
        <classes>
            <class name="tests.api.githubTest.GithubTest"/>
        </classes>
    </test>
    <test name="githubApiNegative">
        <classes>
            <class name="tests.api.githubTest.NegativeGithubTest"/>
        </classes>
    </test>
    <test name="jdbc">
        <classes>
            <class name="tests.jdbc.ExampleTest"/>
        </classes>
    </test>
</suite>